.thankyou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  .thankyou__title {
    text-align: center;
    border: 0;
    color: #8bc6ec;
  }
  .thankyou__text {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    font-weight: 200;
  }
}
