.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
  width: 100%;
  min-height: 100vh;
}

/* .image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: none;
} */

.img {
  display: none;
}

@media screen and (min-width: 768px) {
  .content {
    width: 50%;
  }

  .img {
    position: relative;
    display: block;
    width: 290px;
  }

  .img > img {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    border-radius: 50%;
    box-shadow: -100px 10px 1000px var(--accent-color);
    animation-name: pulse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}

@media screen and (min-width: 1024px) {
  .img {
    width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .img {
    width: 380px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: -100px 10px 1000px var(--accent-color);
  }

  25% {
    box-shadow: -200px 150px 1000px rgb(75, 84, 219);
  }

  50% {
    box-shadow: 100px -200px 1000px rgb(166, 74, 157);
  }

  75% {
    box-shadow: 100px 200px 1000px rgb(48, 224, 244);
  }

  100% {
    box-shadow: -100px 10px 1000px var(--accent-color);
  }
}
